*.pyc
/.idea
.sonar
.scannerwork
venv/
.env
# Ignore OpenAI interaction logs
app/logs/openai_interactions/*.jsonl
app/logs/procucev_api_interactions/*.jsonl
chroma_db
unified_chroma_db
azure_key.pem
DigiCertGlobalRootCA.crt.pem
/logs
VMconnection.txt
WhatsappIntegrationDoc.md
database_explorer.py
/documentation

# Celery files
celerybeat-schedule
celerybeat.pid
celerybeat-schedule
